/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
footer {
    background-color: #000;
    padding: 3.4rem 0;

    p {
        color: #D1D5DB;
    }

    .social-contact {
        a {
            margin: 0 1rem;
        }
    }
}